@import url('https://fonts.googleapis.com/css?family=Lato:400,900&display=swap');

body{
    font-family: 'Lato', sans-serif;
}
.carousel-cell {
    width: 100%; /* full width */
    height: 50vh;
    min-height: 250px; /* min height of carousel */
    margin-right: 5px;
    background-size: cover;
    background-position: center;
    filter: brightness(90%);
    &:hover{
        filter: brightness(100%);
    }
  }
.container{
    width: 70%;
    max-width: 1000px;
    height: 85%;
    margin: auto;
    color: #fff;
    text-align: center;
    h1 {
        text-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
        letter-spacing: 3px;
        font-size: 60px;
        font-weight: normal;
    } 
    p {
        text-shadow: 0px 0px 5px rgba(0, 0, 0, .8);
        letter-spacing: 2px;
        font-size: 20px;
    }
  }
  .restart {
    position: absolute;
    top: 45vh;
    right: 20px;
    z-index: 100;
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
  }
  .restart:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(204, 205, 206);
    }
  
  .progress-bar {
    height: 20px;
    width: 0;
    background: #ececec;
  }

  @media (max-width:767px){
    .container h1{
        font-size: 40px; 
    }
    /* no circle */
    .flickity-button:not(.restart){
        background: transparent;
    }
    
    /* icon color */
    .flickity-button-icon {
        fill: white;
    }
    /* icon color */
    .flickity-button-icon:focus {
        fill: #000;
    }
    /* hide disabled button */
    .flickity-button:disabled {
        display: none;
    }
  } 